<h2>Post Create Component</h2>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Login Form
    </mat-card-title>
  </mat-card-header>
  <form (submit)="OnSavePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input placeholder="Username" matInput type="text" name="title" [ngModel]="post?.title" required #title="ngModel">
      <mat-error *ngIf="title.invalid">'Enter Title !'</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput name="content" placeholder="Password" [ngModel]="post?.content" required #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">'Enter Content !</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Sign In</button>
    <button mat-raised-button color="accent" type="submit">Login</button>

  </form>
</mat-card>
